 body{
  margin: 0;
  text-decoration: none;
}
.main{
  background-color: purple;
}
.wrapper{
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 10vh 90vh;

}
.logobox{
  background-color: #db0203;
}
.menubar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}
.orderdetailgrid{
  display: grid;
  grid-template-rows: 1fr 6fr 3fr;
  grid-row-gap: 10px;
  width: 100%
}
.header{
  background-color: #dd3334;
  margin-top: 10px;
}
.mainsection{
  background-color: red;
}
.totalsection{
  background-color: blue;
}

.buttondiv{
  background-color: #1d2023;
  height: 100%;
  font-family:'Helvetica Neue Bold';
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 25px;
  text-decoration:none!important;
  display: block;
}
.buttondiv:hover{
  background-color: #3a3b3d;
}
.menubtn{
  display: block;
  text-decoration: none!important;
}
.logo{
  height: 90%;
  Width: 400px;
  margin: none;
  margin-right: -90px;
}
.orderdetail{
  text-align: center;;
  color: white;
  font-family:'Helvetica Neue Bold';
  margin-top: -0.5vh;
}
.contentframe{
  height:100%;
  width: 100%;

  }
