body{
  background-color: #f3ede5;
  height: 100%;
  margin: none;
  padding: none;
  border: 5px black solid;
}
.burgergridwrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50vh 50vh;
  height: 100%;
}

.burgerbox{
  height: 100%;
  width: 100%;
  background-color: yellow;
  display: inline-block;
  border: 5px solid black;
}
.burgerbox:nth-child(even){
  background-color: red;
}
